@font-face {
   font-family: 'sf-pro-display-regular-webfont';
   font-display: swap;
   src: url('file:///C:/Users/Core/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-12-14_144548/fonts/sf-pro-display-regular-webfont/font.woff');
}
