html, body {
  margin: auto;
  padding: 1rem;
  max-width: 100rem;
  width: 100%;
  background-color: #fad6a5;
}

.container {
  margin: auto;
  padding: 1rem;
  max-width: 100rem;
  width: 100%;
  background-color: #fad6a5;
}

h1 {
  position: relative;
  margin-bottom: 45px;
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #002366;
}

b1 {
  position: relative;
  margin-bottom: 45px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #002366;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

.item:hover {
  flex: 7;
}

.item-1-1 {
  background-image: url('../../images/projects/w1.jpg');
}

.item-2-1 {
  background-image: url('../../images/projects/w2.jpg');
}

.item-3-1 {
  background-image: url('../../images/projects/w3.jpg');
}

.item-4-1 {
  background-image: url('../../images/projects/w4.jpg');
}

item-5-1 {
  background-image: url('../../images/projects/w5.jpg');
}*/

/*second accordion images*/

.item-1-2 {
  background-image: url('../../images/projects/c1.jpg');
}

.item-2-2 {
  background-image: url('../../images/projects/c2.jpg');
}

.item-3-2 {
  background-image: url('../../images/projects/c3.jpg');
}

.item-4-2 {
  background-image: url('../../images/projects/c4.jpg');
}

.item-5-2 {
  background-image: url('../../images/projects/c5.jpg');
}

/*3rd accordion images*/

.item-1-3 {
  background-image: url('../../images/projects/k5.jpg');
}

.item-2-3 {
  background-image: url('../../images/projects/k5.jpg');
}

.item-3-3 {
  background-image: url('../../images/projects/k5.jpg');
}

.item-4-3 {
  background-image: url('../../images/projects/k5.jpg');
}

.item-5-3 {
  background-image: url('../../images/projects/k5.jpg');
}